# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Go
bin/
pkg/
src/
#*.test
foreman.test

# ANTLR
*.interp
*.tokens
.antlr/

# Visual Code
debug

# MacOSX
.DS_Store

# vim
.*.sw?

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
