[Unit]
Description=Foreman daemon
Documentation=https://github.com/cybergarage/foreman-go
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/foremand -config /etc/foreman/foremand.conf
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target
